{
  "arrowParens": "always",
  "bracketSpacing": true,
  "importOrder": ["^#models", "^#utils", "^#helpers", "^#interfaces", "^#e2e", "\\."],
  "importOrderParserPlugins": ["decorators-legacy", "typescript"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
